[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.8.3"
openai = "==0.26.0"
yt-dlp = "*"
"discord.py" = {version = "==2.3.2", extras = ["voice"]}

[dev-packages]

[requires]
python_version = "3.10"
