[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
openai = "*"
yt-dlp = "*"
python-dotenv = "*"
requests = "*"
"discord.py" = ">=2.6.4"

[dev-packages]

[requires]
python_version = "3.10"
