[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = ">=3.9.0"
openai = "==0.26.0"
yt-dlp = "*"
python-dotenv = "*"
requests = "*"
"discord.py" = {extras = ["voice"], version = "==2.4.0"}

[dev-packages]

[requires]
python_version = "3.10"
